@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

.btn{
  padding: 2px 8px;
  color: aliceblue;
  font-weight: 400;
  font-size: medium;
}

.inp{
  padding: 4px;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
}

.awssld__bullets {
  display: none;
}

.btn1{
  box-shadow: 1px 1px 10px #ffb8fb;
  background-color: rgb(144, 0, 255);
  font-weight:600;
  border: 1px solid #9900ff;
  padding: 4px 20px;
  color: white;
}