@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

.btn{
  padding: 2px 8px;
  color: aliceblue;
  font-weight: 400;
  font-size: medium;
}

.inp{
  border-radius: 10px;
  font-size: small;
  color: grey;
  padding: 5px 10px;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
}

.awssld__bullets {
  display: none;
}

.btn1{
  background-color: #ffffff;
  font-weight:500;
  border-radius: 10px;
  border: 1px solid rgb(0, 255, 0);
  padding: 4px 20px;
  color: rgba(44, 44, 44, 0.808);
}

.anime {
  background-size: 400%;
  background-image: linear-gradient(to right, #d8d8d800 10%, #d8d8d800 20%, #d8d8d800 30%, #00000000 40%, hsl(48, 100%, 50%) 50%, #d8d8d800 60%, #d8d8d800 70%, #d8d8d800 80%, #d8d8d800 90%, #cfcfcf00 100%);
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.zoom-img img {
  transition: transform 0.5s ease-in-out;
}

.zoom-img img:hover {
  transform: scale(1.1);
}

.loginbgimg{
  background-image: url("https://cdn.pixabay.com/photo/2024/03/20/04/00/ai-generated-8644565_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}